body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.bottom-text{
  color: #6c757d;
  margin-top: 1.8rem;
  font-size: 0.9rem;
}
.navbar, .form-control{
  background-color: var(--tg-theme-bg-color)!important;
  color: var(--tg-theme-text-color)!important;
}